<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geodeveloper.raadal_al_kurdi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ManageNetworkState.MyApplication"
        android:icon="@drawable/sudaisi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sudaisi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".HomeActivity">

        </activity>
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".VideoRecitationActivity" />
        <activity android:name=".Admin.SendNotificationActivity" />
        <activity android:name=".OfflineSurahActivity" />
        <activity android:name=".ArabicQuranActivity" />
        <activity android:name=".ReadArabicQuran" />
        <activity android:name=".NewReciterActivity" />
        <activity android:name=".ReadEnglishQuranActivity" />
        <activity android:name=".EnglishQuranActivity" />
        <activity
            android:name=".PlayerActivity"
            android:alwaysRetainTaskState="true"
            android:autoRemoveFromRecents="false"
            android:enabled="true"
            android:label=""
            android:resumeWhilePausing="true" />
        <activity android:name=".viewContentActivity" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".AboutMeActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".Admin.AddNewReciter" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListentToQuranActivity" />

        <receiver
            android:name=".ManageNetworkState.ConnectivityReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.geodeveloper.newtobetting.Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.geodeveloper.newtobetting.Notifications.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ixuea.android.downloader.DownloadService">
            <intent-filter>
                <action android:name="com.ixuea.android.downloader.DOWNLOAD_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="com.startapp.sdk.adsbase.StartAppInitProvider"
            android:authorities="${applicationId}.startappinitprovider"
            tools:node="remove" />
    </application>

</manifest>